* {
  font-family: 'Roboto', sans-serif;
}

.logo {
  margin-right: 20px;
}

.header {
  height: 50px;
  background-color: #00008b;
  color: aliceblue;
  margin-bottom: 15px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  vertical-align: center;
  padding: 50px;
  font-size: 50px;
  font-style: bold;
}

.footer {
  margin: auto;
  height: 75px;
  background-color: darkblue;
  color: aliceblue;
  margin-top: 15px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  vertical-align: center;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

.item-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  margin-bottom: 100px;
  min-height: 400px;
}

.item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 30px 20px 0;
  width: 70%;
  border-bottom: 1px solid grey;
  font-weight: 100;
  font-size: 15px;
  color: #333333;

}

.total {
  position: relative;
  left: 20%;
  font-size: 20px;
}

.item-add-btn {
  position: absolute;
  right: 20%;
  color: darkblue;
  font-size: 30px;
}

.item-add-btn:hover {
  color:mediumseagreen;
}

.back-btn{
  color:darkblue;
  font-size: 30px;
}

.back-btn:hover {
  color:lightskyblue;
}

.item-name {
  margin-left: 10%;
  padding-right: 10px;
  font-size: 20px;
  font-style: bold;
}

.item-price {
  padding-right: 10px;
  font-size: 20px;
  font-style: bold;
}

.checkout-btn {
   margin-top: 40px;
   width: 200px;
   height: 50px;
   font-size: 25px;
   font-style: bold;
   background-color: darkblue;
   color: white;
   text-align: center;
   box-shadow: 0px 4px #656c85;
   border: 2px solid darkblue;
   border-radius: 15px; 
   vertical-align: center;
}

.checkout-btn:hover {
  background-color: mediumseagreen;
  border: 2px solid darkgreen;

}

.cart-item-remove-btn {
  position: absolute;
  right: 20%;
  color: darkblue;
  font-size: 30px;
}

.cart-item-remove-btn:hover{
  color:red;
}

.home-btn {
   position: absolute;
   right: 49%;
   bottom: 40%;
   color: darkblue;
   font-size: 30px;
   
}

.home-btn:hover {
  color:lightskyblue;
}


.App {
  text-align: center;
}

.cart-icon{
  color: darkblue;
  font-size: 40px;
}

.cart-icon:hover {
  color:lightskyblue;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
